<header class="header" id="header">
  <content class="header__content">
    <div class="header__left-side">
      <div class="selection selection--delivery">
        <span id='location' class="hidden">Регион доставки:</span>
        <select id="selectValue" class="selection__value">
          <option value="Москва">Москва</option>
          <option value="СПб">СПб</option>
        </select>
      </div>    
      <figure class="header__logo">
        <img alt="Frogogo" class="header__logo-image" src="images/logo.svg">
      </figure>
    </div>
    <div class="header__center-side">
      <div class="header__row">
        <div class="header__promo">
          <input class="header__promo-cod" type="text" name="promo-cod" value="" placeholder="Введите промокод">
        </div>
        <span class="header__vip">GOLD статус - Выберите ПОДАРОК!</span>
      </div>    
      <div class="header__menu">    
        <nav class="header__menu-nav">
          <a href="#works" class="header__menu-item">Коллекции</a>
          <a href="#skills" class="header__menu-item">Как пополнить счёт?</a>
          <a href="#git" class="header__menu-item">Поддержка</a>    
        </nav>
      </div>  
    </div>
    <div class="header__right-side">
      <div class="selection">
        <div class="selection__wrapper">
          <span class="hidden">Ваш счёт</span>
          <select id="selectValue" class="selection__value">
            <option value="Москва">4 700 ₽</option>
            <option value="СПб">0 ₽</option>
          </select>
        </div>        
      </div>
      <div class="bascket">
        <button class="bascket__btn bascket__btn-icon">
          <img src="images/card.svg" alt="Enter to bascket" class="bascket__icon">
          <span class="bascket__text hidden">Корзина</span>
        </button>
      </div>

    </div>
  </content>  
</header>      