.header {
  background: #f9fafb;
  color: #8a93a3;  
  font-weight: bold;
  font-size: 15px;
  letter-spacing: .5px;
  padding-top: 22px;

  @media (max-width:742px) {
    font-size: 12px;
  }

  @media (max-width: 420px) {
    font-size: 11px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 10px;
  }

  .selection {
    font-weight: normal;
    margin-bottom: 29px;
    padding-left: 15px;
    position: relative;

    &__no-padding {
      padding-left: 0;
    }

    &--delivery:before {
      content: '';
      display: block;
      height: 10px;
      background: url(../images/location.svg) no-repeat;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
    }

    &--wallet:before {
      content: '';
      display: block;
      height: 20px;
      background: url(../images/wallet.svg) no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
    }
    
    &__value {
      background: none;
      border: none;
      color: #4ad9bd;
      font-weight: bold;
      outline: none;

      &:hover {
        cursor: pointer;
      }
    }

    &__wrapper {
      text-align: right;
    }
  }

  &__left-side{
    display:flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
  }
  
  &__logo {
    margin: 0;
    width: 100px;

    @media (max-width: 972px) {
      transform: translateX(45px);
    }

    &-image {
      @media (max-width: 420px) {
        width: 120px;
      }
    }
  } 

  &__center-side {
    display: flex;
    flex-direction: column;
    width: 60%;

    @media (max-width:742px) {
      font-size: 12px;
    }
  }

  &__row {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 35px;

    @media (max-width:742px) {
      align-items: flex-start;
      flex-direction: column;
      margin-bottom:0;
    }
  }

  &__promo {
    position: relative;

    &:before {
      content: '';
      display: block;
      background: #ff8282;
      height: 10px;
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      width:10px;  
    }
    
    &:after {
      content: '';
      display: block;
      border-top: 5px solid transparent;
      border-left: 5px solid #ff8282;
      border-bottom: 5px solid transparent;
      position: absolute;
      left: -10px;
      top: 50%;
      transform: translateY(-50%);  
    }
  }

  &__promo-cod {
    background: none;
    border: none;
    color: #ff8282;
    font-weight: bold;
    outline: none;
  }

  &__vip {
    color: #ffa000;
    position: relative;

    &:before {
      content: '';
      display: block;
      background: url(../images/gold-head.svg) no-repeat;
      height: 10px;
      left: -20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
    }
  }

  &__menu {
    align-self: flex-start;

    @media (max-width:972px) {
      display: none;
    }

    &-item {
      color: #8a93a3;
      margin-right: 30px;
      letter-spacing: .5px;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        color: #ffa000;
      }
    }
  }

  &__right-side {
    display: flex;
    flex-direction: column;
  }
}

::placeholder {
  color: #ff8282;
}

.bascket {
  align-self: flex-end;
  position: relative;

  &__btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    transition: .3s;
    
    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
  }

  &__count {
    visibility: hidden;
    background: #ff8282;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    position: absolute;
    left: 20%;
    top: -5%;
    transition: .3s;
    height: 15px;
    width:18px;
  }

  &__icon {
    margin-right: 15px;

    @media (max-width: 972px) {
      margin-right: 0;
    }
    
  }

  &__text {
    color: #8a93a3;
    font-weight: bold;
  }
}

@media (max-width: 972px) {
  .hidden {
    display: none;
  }
}