html {
  font-size: 14px;
}

body {
  color:#1e1e3c;
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  width: 100%;
  height: 100%;  
}

.main {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  padding: 0 10%;
  position: relative;
}
