<div class="goods">
  <div class="container">
    {{!-- first block of goods --}}
    <div class="goods__wrapper">
      
      <div class="goods__item">
        <div class="goods__wrapper">
          <h3 class="goods__title">
              Стакан YPSILON BRIO CAPPUCCINO 220 мл 
          </h3>
          <button class="goods__btn btn">Добавить</button>
        </div>
        <div class="goods__wrapper">
          <div class="goods__caracter caracter">
            <img src="images/product1.png" alt="YPSILON BRIO CAPPUCCINO 220 мл" class="goods__img">
            <div class="caracter__wrapper">
            <div class="caracter__option">Цвет</div>
            <div class="counter">
              <button class="counter__btn btn btn-minus">-</button>
              <span class="counter__sum">1</span>
              <button class="counter__btn btn btn-plus">+</button>
            </div>
            <div class="residue">Осталость 2 шт.</div>
          </div>
          </div>
          <div class="goods__prices">
            <div class="prices-title">
              Полная цена
              <span class="prices-text">599 ₽</span>
            </div>
            <div>
              Можно оплатить с личного счета
              <span class="prices-text prices-text_green">300 ₽</span>
            </div>
          </div>
        </div>
      </div>

      <div class="goods__item">
        <div class="goods__wrapper">
          <h3 class="goods__title">
              Одеяло Woolfield Sunrise
          </h3>
          <button class="goods__btn btn">Добавить</button>
        </div>
        <div class="goods__wrapper">
          <div class="goods__caracter caracter">
            <img src="images/product2.png" alt="YPSILON BRIO CAPPUCCINO 220 мл" class="goods__img">
            <div class="caracter__wrapper">
            <div class="caracter__option">Цвет</div>
            <div class="counter">
              <button class="counter__btn btn  btn-minus">-</button>
              <span class="counter__sum">1</span>
              <button class="counter__btn btn btn-plus">+</button>
            </div>
            {{!-- <div class="residue">Осталость 2 шт.</div> --}}
          </div>
          </div>
          <div class="goods__prices">
            <div class="prices-title">
              Полная цена
              <span class="prices-text">1 725 ₽</span>
            </div>
            <div>
              Можно оплатить с личного счета
              <span class="prices-text prices-text_green">1035 ₽</span>
            </div>
          </div>
        </div>
      </div>

      <div class="goods__item">
        <div class="goods__wrapper">
          <h3 class="goods__title">
              Беспроводная колонка Goodyear Bluetooth Speaker
          </h3>
          <button class="goods__btn btn">Добавить</button>
        </div>
        <div class="goods__wrapper">
          <div class="goods__caracter caracter">
            <img src="images/product3.png" alt="YPSILON BRIO CAPPUCCINO 220 мл" class="goods__img">
            <div class="caracter__wrapper">
            {{!-- <div class="caracter__option">Цвет</div> --}}
            <div class="counter">
              <button class="counter__btn btn  btn-minus">-</button>
              <span class="counter__sum">1</span>
              <button class="counter__btn btn btn-plus">+</button>
            </div>
            {{!-- <div class="residue">Осталость 2 шт.</div> --}}
          </div>
          </div>
          <div class="goods__prices">
            <div class="prices-title">
              Полная цена
              <span class="prices-text">2 699 ₽</span>
            </div>
            <div>
              Можно оплатить с личного счета
              <span class="prices-text prices-text_green">1070 ₽</span>
            </div>
          </div>
        </div>
      </div>
        
    </div>
    {{!-- second block of goods --}}
    <div class="goods__wrapper goods__wrapper_hidden" id="id1">
      
      <div class="goods__item">
        <div class="goods__wrapper">
          <h3 class="goods__title">
              Стакан YPSILON BRIO CAPPUCCINO 220 мл 
          </h3>
          <button class="goods__btn btn">Добавить</button>
        </div>
        <div class="goods__wrapper">
          <div class="goods__caracter caracter">
            <img src="images/product1.png" alt="YPSILON BRIO CAPPUCCINO 220 мл" class="goods__img">
            <div class="caracter__wrapper">
            <div class="caracter__option">Цвет</div>
            <div class="counter">
              <button class="counter__btn btn  btn-minus">-</button>
              <span class="counter__sum">1</span>
              <button class="counter__btn btn btn-plus">+</button>
            </div>
            <div class="residue">Осталость 2 шт.</div>
          </div>
          </div>
          <div class="goods__prices">
            <div class="prices-title">
              Полная цена
              <span class="prices-text">599 ₽</span>
            </div>
            <div>
              Можно оплатить с личного счета
              <span class="prices-text prices-text_green">300 ₽</span>
            </div>
          </div>
        </div>
      </div>

      <div class="goods__item">
        <div class="goods__wrapper">
          <h3 class="goods__title">
              Одеяло Woolfield Sunrise
          </h3>
          <button class="goods__btn btn">Добавить</button>
        </div>
        <div class="goods__wrapper">
          <div class="goods__caracter caracter">
            <img src="images/product2.png" alt="YPSILON BRIO CAPPUCCINO 220 мл" class="goods__img">
            <div class="caracter__wrapper">
            <div class="caracter__option">Цвет</div>
            <div class="counter">
              <button class="counter__btn btn  btn-minus">-</button>
              <span class="counter__sum">1</span>
              <button class="counter__btn btn btn-plus">+</button>
            </div>
            {{!-- <div class="residue">Осталость 2 шт.</div> --}}
          </div>
          </div>
          <div class="goods__prices">
            <div class="prices-title">
              Полная цена
              <span class="prices-text">1 725 ₽</span>
            </div>
            <div>
              Можно оплатить с личного счета
              <span class="prices-text prices-text_green">1035 ₽</span>
            </div>
          </div>
        </div>
      </div>

      <div class="goods__item">
        <div class="goods__wrapper">
          <h3 class="goods__title">
              Беспроводная колонка Goodyear Bluetooth Speaker
          </h3>
          <button class="goods__btn btn">Добавить</button>
        </div>
        <div class="goods__wrapper">
          <div class="goods__caracter caracter">
            <img src="images/product3.png" alt="YPSILON BRIO CAPPUCCINO 220 мл" class="goods__img">
            <div class="caracter__wrapper">
            {{!-- <div class="caracter__option">Цвет</div> --}}
            <div class="counter">
              <button class="counter__btn btn btn-minus">-</button>
              <span class="counter__sum">1</span>
              <button class="counter__btn btn btn-plus">+</button>
            </div>
            {{!-- <div class="residue">Осталость 2 шт.</div> --}}
          </div>
          </div>
          <div class="goods__prices">
            <div class="prices-title">
              Полная цена
              <span class="prices-text">2 699 ₽</span>
            </div>
            <div>
              Можно оплатить с личного счета
              <span class="prices-text prices-text_green">1070 ₽</span>
            </div>
          </div>
        </div>
      </div>        
    </div>
    {{!-- third block of goods --}}
    <div class="goods__wrapper goods__wrapper_hidden" id="id2">
      
      <div class="goods__item">
        <div class="goods__wrapper">
          <h3 class="goods__title">
              Стакан YPSILON BRIO CAPPUCCINO 220 мл 
          </h3>
          <button class="goods__btn btn">Добавить</button>
        </div>
        <div class="goods__wrapper">
          <div class="goods__caracter caracter">
            <img src="images/product1.png" alt="YPSILON BRIO CAPPUCCINO 220 мл" class="goods__img">
            <div class="caracter__wrapper">
            <div class="caracter__option">Цвет</div>
            <div class="counter">
              <button class="counter__btn btn btn-minus">-</button>
              <span class="counter__sum">1</span>
              <button class="counter__btn btn btn-plus">+</button>
            </div>
            <div class="residue">Осталость 2 шт.</div>
          </div>
          </div>
          <div class="goods__prices">
            <div class="prices-title">
              Полная цена
              <span class="prices-text">599 ₽</span>
            </div>
            <div>
              Можно оплатить с личного счета
              <span class="prices-text prices-text_green">300 ₽</span>
            </div>
          </div>
        </div>
      </div>

      <div class="goods__item">
        <div class="goods__wrapper">
          <h3 class="goods__title">
              Одеяло Woolfield Sunrise
          </h3>
          <button class="goods__btn btn btn-minus">Добавить</button>
        </div>
        <div class="goods__wrapper">
          <div class="goods__caracter caracter">
            <img src="images/product2.png" alt="YPSILON BRIO CAPPUCCINO 220 мл" class="goods__img">
            <div class="caracter__wrapper">
            <div class="caracter__option">Цвет</div>
            <div class="counter">
              <button class="counter__btn btn btn btn-minus">-</button>
              <span class="counter__sum">1</span>
              <button class="counter__btn btn btn-plus">+</button>
            </div>
            {{!-- <div class="residue">Осталость 2 шт.</div> --}}
          </div>
          </div>
          <div class="goods__prices">
            <div class="prices-title">
              Полная цена
              <span class="prices-text">1 725 ₽</span>
            </div>
            <div>
              Можно оплатить с личного счета
              <span class="prices-text prices-text_green">1035 ₽</span>
            </div>
          </div>
        </div>
      </div>

      <div class="goods__item">
        <div class="goods__wrapper">
          <h3 class="goods__title">
              Беспроводная колонка Goodyear Bluetooth Speaker
          </h3>
          <button class="goods__btn btn">Добавить</button>
        </div>
        <div class="goods__wrapper">
          <div class="goods__caracter caracter">
            <img src="images/product3.png" alt="YPSILON BRIO CAPPUCCINO 220 мл" class="goods__img">
            <div class="caracter__wrapper">
            {{!-- <div class="caracter__option">Цвет</div> --}}
            <div class="counter">
              <button class="counter__btn btn btn-minus">-</button>
              <span class="counter__sum">1</span>
              <button class="counter__btn btn btn-plus">+</button>
            </div>
            {{!-- <div class="residue">Осталость 2 шт.</div> --}}
          </div>
          </div>
          <div class="goods__prices">
            <div class="prices-title">
              Полная цена
              <span class="prices-text">2 699 ₽</span>
            </div>
            <div>
              Можно оплатить с личного счета
              <span class="prices-text prices-text_green">1070 ₽</span>
            </div>
          </div>
        </div>
      </div>        
    </div>

  </div><button class="btn btn-more">Показать еще</button>
</div>
